@using Microsoft.AspNetCore.Identity;
@model AssignDeveloperViewModel
@inject IBTFileService _fileService
@inject IBTProjectService _projectService
@inject UserManager<BTUser> _UserManager

@{

}


<h1>Assign Developer</h1>

<div class="d-flex justify-content-center mt-5 flex-column align-items-center">
    <h3 class="my-5">Assign Developer</h3>
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Assign Developer/div>
        </div>
        <div class="card-body">
            <div class="col-md-12 col">
                <div class="row col-cols-2 mt-5 bg-secondary">

                    @*Info about ticket*@

                    <div class="card col m-1 p-2">
                        <div class="card-body">

                            <strong>Ticket Title:</strong>
                                <h5> @Model.Ticket?.Title</h5>



                            @*Description of Ticket*@
                                <p> <strong>Ticket Description:</strong> @Model.Ticket?.Description</p>
                            <div class="progress-container progress-info m-b-25">

                                @*Project Name and information*@
                                <span><strong>Project Name:</strong></span>	<span class="progress-badge" style="font-size:small">Project: @Model?.Project?.Name </span>

                            </div>
                        </div>
                        <div class="card col m-1 p-2">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    @*Ticket date*@
                                    <li><strong>Date Entered:</strong> <span class="">  @Model?.Ticket?.Created </</span></li>
                                    @*Project end date*@
                                    <li><strong>Project Deadline:</strong> <span class="">  @Model?.Project?.EndDate </</span></li>
                                    @*Ticket type*@
                                    <li><strong>Ticket Type:</strong> <span class="">  @Model?.Ticket?.TicketType?.Name </span></li>
                                    @*Ticket priority*@
                                        <li><strong>Ticket Priority:</strong> <span class=""> @Model?.Ticket?.TicketPriority?.Name</span></li>
                                    @*Ticket status*@
                                        <li><strong>Ticket Status:</strong> <span class="">  @Model?.Ticket?.TicketStatus?.Name </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    @*Info about ticket*@


                </div>
            </div>

            <form asp-action="AssignDeveloper" asp-controller="Tickets" method="post" class="d-flex flex-column">
                <input type="hidden" asp-for="ProjectId" />
                <select asp-items="Model?.DevList" asp-for="Ticket!.DeveloperUserId">
                    <option value="">Unassigned</option>
                </select>
                <span asp-validation-for="Ticket!.DeveloperUserId" class="text-danger"></span>
                <button type="submit" class="btn btn-primary my-3">Save</button>
                @*<a asp-action="Details" asp-route-id="@Model.ProjectId" class="btn btn-secondary">Cancel</a>*@
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>