@model BugTracker.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">



    <div class="col-lg-6 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <form asp-action="Create" asp-controller="Tickets" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SubmitterUserId" />
                    <input type="hidden" asp-for="Created" />

                    <div class="">
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label asp-for="Title" class="control-label"></label>
                            </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label asp-for="Description" class="control-label"></label>
                            </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                            <label asp-for="ProjectId" class="control-label"></label>
                                   </div>                 
                      
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label asp-for="TicketTypeId" class="control-label"></label>
                            </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label asp-for="TicketStatusId" class="control-label"></label>
                            </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label asp-for="TicketPriorityId" class="control-label"></label>
                            </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">

                                <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.ProjectPriorityId"></select>
                            </div>
                        </div>
  
                    
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                                </label>
                            </div>
                        </div>



                        <div class="form-group row justify-content-end mb-0">
                            <div class="col-md-8 ps-md-2">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                       </div>

                </form>
            </div>
                
            </div>
        </div>
    </div>
   


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<!--CK Editor-->
<script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('.editor'), {
            licenseKey: '',
        })
        .then(editor => {
            window.editor = editor;
        });
</script>

