@using BugTracker.Enums;
@using BugTracker.Services.Interfaces;
@model BugTracker.Models.Project
@inject IImageService _ImageService
@inject IBTFileService _fileService

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />

<div class="row row-sm">

    <div class="col-lg-6 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Created" />
                    <div class="">
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label asp-for="Name" class="control-label"></label>
                            </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label asp-for="Description" class="control-label"></label>
                            </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label asp-for="StartDate" class="control-label"></label>
                            </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <input asp-for="StartDate" class="form-control" />
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label asp-for="EndDate" class="control-label"></label>
                            </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <input asp-for="EndDate" class="form-control" />
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label asp-for="ProjectPriorityId" class="control-label"></label>
                            </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">

                                <select asp-for="ProjectPriorityId" class="form-control" asp-items="ViewBag.ProjectPriorityId"></select>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <img id="contactImage" class="img-fluid border rounded-3 mb-2" style="max-height: 150px;"
                                     src="@_fileService.ConvertByteArrayToFile(Model?.ImageData!,Model?.ImageType!,DefaultImage.ProjectImage)" style="height:80px;width:80px">
                            </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <input asp-for="ImageFile" class="form-control mt-3 pt-2" accept=".png,.jpg,.jpeg,.gif"
                                       onchange="document.getElementById('contactImage').src= window.URL.createObjectURL(this.files[0])" />
                                <span asp-validation-for="ImageFile" type="file" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                                </label>
                            </div>
                        </div>



                        <div class="form-group row justify-content-end mb-0">
                            <div class="col-md-8 ps-md-2">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
